<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mysurveyEntities" connectionString="metadata=res://*/mysurvey.csdl|res://*/mysurvey.ssdl|res://*/mysurvey.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Douglas\SQLEXPRESS;initial catalog=mysurvey;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>